<h1>Welcome</h1>
<%= react_component 'ProductsIndexPage' %>

<% content_for :javascript_in_body do %>
  <%= javascript_tag do %>
    dispatcher.dispatch({
      actionType: 'products-index-page:initialize',
      products: <%= @products.to_json.html_safe %>
    })
  <% end %>
<% end %>